//! **************************************************************************
// Written by: Map P.28xd on Sun Oct 26 10:41:38 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P61" LEVEL 1;
COMP "CK32" LOCATE = SITE "P89" LEVEL 1;
COMP "BCLK" LOCATE = SITE "P41" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P36" LEVEL 1;
COMP "SDATA" LOCATE = SITE "P54" LEVEL 1;
COMP "LRCLK" LOCATE = SITE "P58" LEVEL 1;
COMP "ZEROA" LOCATE = SITE "P22" LEVEL 1;
COMP "CONTROL<0>" LOCATE = SITE "P34" LEVEL 1;
COMP "CONTROL<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "CONTROL<2>" LOCATE = SITE "P25" LEVEL 1;
COMP "BCLK_TEST" LOCATE = SITE "P10" LEVEL 1;
COMP "SDATA_TEST" LOCATE = SITE "P9" LEVEL 1;
COMP "LRCLK_TEST" LOCATE = SITE "P5" LEVEL 1;
COMP "SCLK_TEST" LOCATE = SITE "P11" LEVEL 1;
NET "CK32_BUFGP/IBUFG" BEL "CK32_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

