

NET "SDATA" LOC = P54;
NET "BCLK" LOC = P41;
NET "CK32" LOC = P89;
NET "SCLK" LOC = P36;
NET "CONTROL[0]" LOC = P34;
NET "CONTROL[1]" LOC = P32;
NET "CONTROL[2]" LOC = P25;


NET "CONTROL[0]" IOSTANDARD = LVCMOS33;
NET "CONTROL[1]" IOSTANDARD = LVCMOS33;
NET "CONTROL[2]" IOSTANDARD = LVCMOS33;
NET "BCLK" IOSTANDARD = LVCMOS33;
NET "LRCLK" IOSTANDARD = LVCMOS33;
NET "SCLK" IOSTANDARD = LVCMOS33;
NET "SDATA" IOSTANDARD = LVCMOS33;
NET "LRCLK" SLEW = FAST;
NET "SCLK" SLEW = FAST;
NET "SDATA" SLEW = FAST;
NET "BCLK" SLEW = FAST;


NET "ZEROA" LOC = P22;


NET "ZEROA" IOSTANDARD = LVCMOS33;


NET "LED" LOC = P61;


NET "zeroa_signal" KEEP = "TRUE";

NET "SDATA_Chipscope" KEEP = "TRUE";
NET "LRCLK_Chipscope" KEEP = "TRUE";
NET "BCLK_Chipscope" KEEP = "TRUE";


NET "LED" IOSTANDARD = LVCMOS33;


NET "BCLK_TEST" LOC = P10;
NET "LRCLK_TEST" LOC = P5;
NET "SCLK_TEST" LOC = P11;
NET "SDATA_TEST" LOC = P9;


NET "BCLK_TEST" IOSTANDARD = LVCMOS33;
NET "LRCLK_TEST" IOSTANDARD = LVCMOS33;
NET "CK32" IOSTANDARD = LVCMOS25;
NET "SCLK_TEST" IOSTANDARD = LVCMOS33;
NET "SDATA_TEST" IOSTANDARD = LVCMOS33;
NET "BCLK_TEST" SLEW = FAST;
NET "LED" SLEW = FAST;
NET "LRCLK_TEST" SLEW = FAST;
NET "SCLK_TEST" SLEW = FAST;
NET "SDATA_TEST" SLEW = FAST;


NET "LRCLK" LOC = P58;
