
# PlanAhead Generated physical constraints 
NET "CLK" LOC = P89;

# PlanAhead Generated IO constraints 
NET "TX" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "TX" LOC = P90;
NET "RX" LOC = P88;

# PlanAhead Generated IO constraints 
NET "TX" SLEW = FAST;
NET "RX" IOSTANDARD = LVCMOS25;
#Created by Constraints Editor (xc3s500e-vq100-5) - 2015/01/14
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 170 MHz HIGH 50%;
