

NET "CK" LOC = P89;
NET "LED1" LOC = P4;
NET "LED2" LOC = P3;


NET "LED2" IOSTANDARD = LVCMOS33;
NET "LED1" IOSTANDARD = LVCMOS33;


NET "BTN1" LOC = P2;
NET "BTN2" LOC = P98;

# PlanAhead Generated IO constraints 

NET "BTN1" IOSTANDARD = LVCMOS33;
NET "BTN2" IOSTANDARD = LVCMOS33;
