

NET "CK32" LOC = P89;


NET "LRCLK" IOSTANDARD = LVCMOS33;


NET "LRCLK" LOC = P32;
NET "MCLK" LOC = P34;


NET "MCLK" IOSTANDARD = LVCMOS33;


NET "SCLK" LOC = P25;
NET "SDATA" LOC = P22;


NET "SCLK" IOSTANDARD = LVCMOS33;
NET "SDATA" IOSTANDARD = LVCMOS33;
NET "LRCLK" SLEW = FAST;
NET "MCLK" SLEW = FAST;
NET "SDATA" SLEW = FAST;


NET "CKPLL" LOC = P5;
#NET "CK27" LOC = P9;

NET "CKPLL" CLOCK_DEDICATED_ROUTE = FALSE;

#NET "CK27" SLEW = FAST;
#NET "CK27" IOSTANDARD = LVCMOS33;
NET "CKPLL" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "SCLK" PULLUP;
