
# PlanAhead Generated physical constraints 

NET "RAM_B" LOC = P53;
NET "LED" LOC = P57;
NET "EEPROM_B1" LOC = P17;
NET "EEPROM_B2" LOC = P16;
NET "DISP_B1" LOC = P63;
NET "DISP_B2" LOC = P66;
NET "CLK" LOC = P89;

# PlanAhead Generated IO constraints 

NET "DISP_B1" IOSTANDARD = LVCMOS33;
NET "DISP_B2" IOSTANDARD = LVCMOS33;
NET "EEPROM_B1" IOSTANDARD = LVCMOS33;
NET "EEPROM_B2" IOSTANDARD = LVCMOS33;
NET "LED" IOSTANDARD = LVCMOS33;
NET "RAM_B" IOSTANDARD = LVCMOS33;
NET "EEPROM_B1" PULLUP;
NET "EEPROM_B2" PULLUP;
NET "RAM_B" PULLUP;
NET "DISP_B1" PULLUP;
NET "DISP_B2" PULLUP;
