//! **************************************************************************
// Written by: Map P.28xd on Sat Jan 10 12:10:38 2015
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

