

NET "CK33" LOC = P89;
NET "LRCLK" LOC = P32;
NET "MCLK" LOC = P34;
NET "SCLK" LOC = P25;
NET "SDATA" LOC = P22;


NET "LRCLK" IOSTANDARD = LVTTL;
NET "MCLK" IOSTANDARD = LVTTL;
NET "SCLK" IOSTANDARD = LVTTL;
NET "SDATA" IOSTANDARD = LVTTL;
NET "LRCLK" SLEW = SLOW;
NET "MCLK" SLEW = FAST;
NET "SCLK" SLEW = FAST;
NET "SDATA" SLEW = FAST;
