

NET "CK32" LOC = P89;
NET "RESET" LOC = P92;
NET "START" LOC = P2;
NET "TX" LOC = P90;


NET "RESET" PULLUP;
NET "START" PULLUP;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "START" IOSTANDARD = LVCMOS33;
NET "TX" IOSTANDARD = LVCMOS33;
NET "TX" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "LED1" LOC = P3;
NET "LED2" LOC = P4;

# PlanAhead Generated IO constraints 

NET "LED1" IOSTANDARD = LVCMOS33;
NET "LED2" IOSTANDARD = LVCMOS33;
