

NET "CLK" LOC = P89;
NET "SI" LOC = P15;
NET "SCK" LOC = P12;
NET "HOLD" LOC = P11;
NET "WP" LOC = P10;
NET "SO" LOC = P9;
NET "CS" LOC = P5;
NET "RX" LOC = P88;
NET "TX" LOC = P90;


NET "CS" IOSTANDARD = LVCMOS33;
NET "HOLD" IOSTANDARD = LVCMOS33;
NET "RX" IOSTANDARD = LVCMOS33;
NET "SCK" IOSTANDARD = LVCMOS33;
NET "SI" IOSTANDARD = LVCMOS33;
NET "SO" IOSTANDARD = LVCMOS33;
NET "TX" IOSTANDARD = LVCMOS33;


NET "LED" LOC = P57;

# PlanAhead Generated IO constraints 

NET "LED" IOSTANDARD = LVCMOS33;
NET "WP" IOSTANDARD = LVCMOS33;
