

NET "BTN1" LOC = P2;
NET "BTN2" LOC = P98;


NET "BTN1" IOSTANDARD = LVCMOS33;
NET "BTN2" IOSTANDARD = LVCMOS33;
NET "CK27" IOSTANDARD = LVCMOS33;


NET "CK27" LOC = P9;
NET "CK32" LOC = P89;
NET "CK384fs" LOC = P5;
NET "LED1" LOC = P4;
NET "LED2" LOC = P3;


NET "CK384fs" IOSTANDARD = LVCMOS33;
NET "LED1" IOSTANDARD = LVCMOS33;

NET "CK384fs" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated IO constraints 

NET "CK27" SLEW = FAST;
NET "LED1" SLEW = FAST;
NET "LED2" SLEW = FAST;
NET "LED2" IOSTANDARD = LVCMOS33;
